.paginate {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .pagination {
        --bs-pagination-bg: #06121e;
        --bs-pagination-active-bg: #06121e;
        --bs-pagination-active-border-color: #fff;
        --bs-pagination-hover-bg: #06121e;
        display: flex;
        gap: 10px;
    }


    .page-item.active .page-link {
        background: #428bca;
    }



    .page-link {
        border-radius: 8px;
        padding: 15px 20px;
        font-size: 2rem;
        color: #c7d2db;

        &:hover {
            color: #b1a21e;
        }

        span {
            font-size: 2rem;
        }
    }
}