.footer {
    position: relative;
    z-index: 999;
    margin-top: 300px;
    min-height: 300px;
    max-height: 100%;
    bottom: 0;
    width: 100%;
    background: url('../../assets/images/footer-bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 575px) {
        margin-top: 500px;
    }

    &__content {
        color: #fff;
        font-weight: 500;
        max-width: 100%;
        text-align: center;
    }

    &__title {
        font-size: 2rem;
        color: #fff;
        font-weight: 500;
    }

    &__list-inner {
        margin: 20px 0 0 20px;
        list-style: circle;

        &>li {
            color: #ccc;
        }
    }
}