.position-fixed-header {
    // position: fixed;
    // z-index: 999;
}

.header {
    position: relative;
    background: none;
    min-height: 3.25rem;
    padding: 0 20px;
    z-index: 999;

    .nav-link__search {
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 1.9rem;
        color: #fff;
        font-weight: 400;

        &:hover {
            color: #7ab9e8;
        }
    }


    .nav-bar {
        --bs-navbar-padding-y: 0
    }


    .nav-link {
        padding: 25px;

        &:hover {
            background: #1a76bc;

        }

        &__name {
            font-size: 1.9rem;
            padding: 20px 12px;
            color: #fff;
            font-weight: 400;

            &:hover {
                color: #7ab9e8;
            }
        }

        &__name+&__name {
            margin-left: 10px;
        }
    }


    .dropdown-toggle {
        color: #fff !important;
    }


    .dropdown-menu {
        --bs-dropdown-font-size: 1.6rem !important;
    }

    .myTitleStyle a {
        color: #fff !important;
    }

}