.login-container {
    height: 700px;
    background: #06121e;

    .loader-icon {
        font-size: 18px;
        margin-right: 7px;
        top: 2px;
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }



    button {
        border: 1px solid #0066cc;
        color: #ffffff;
        padding: 5px 10px;

        &:hover {
            border: 1px solid #0099cc;
            color: #ffffff;
            padding: 5px 10px;
        }

        &:disabled,
        &[disabled] {
            border: 1px solid #999999;
        }
    }

}

.card {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.show-pass {
    color: #5ebbff;
    text-decoration: underline;
}

.invalid {
    color: red I !important
}

.bg-light {
    background: #06121e !important;

}